.features {
    grid-column: center-start/center-end;
    margin: 15rem 0;

    display: grid;
    // grid-template-columns: repeat(3, 1fr); --changing this for making responsive design
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    //not defining the rows as they have to fill the content so be it implicit grid.
    grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        transform: translateY(-1rem);

        //grid positioning
        grid-row: 1 / span 2; // here the -1 will not work as the grid rows anr not defined and are implicit rows.
    }

    &__text {
        font-size: 1.7rem;
    }
}
